body{
  user-select:none;
  margin:0;
  padding:0;
  font-weight: bold;
  text-shadow: 10px;
  text-shadow: yellow 1px 3px 10px;
  font-family: 'Press Start 2P', cursive;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(0, 0, 0, 0.952);
  background-image:url("https://wallpaperaccess.com/full/232614.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
}
body,html{
  scroll-behavior: smooth;
}
@media(max-width:780px){
  html,body{
    overflow-x: hidden;
  }
}
::-webkit-input-placeholder{
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
}
textarea{
  font-family: 'Press Start 2P', cursive;
}
button{
  font-family: 'Press Start 2P', cursive;
  color: white;
}
ul{
  display: flex;
  gap: 20px;
}
li{
  list-style: none;
}
@media(max-width:600px){
  ::-webkit-input-placeholder{
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
  }
}
